@model EmoApp.Web.Models.Home

@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

    <div> 
        <h2>@Model.WelcomeMessage</h2>
        <h2>@Model.FooterMessage</h2>
    </div>

@section scripts{
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>
    }