
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @RenderSection("scripts", required:false)
    <title>_MyLayout</title>
</head>
<body>
    <h1>Este es un nuevo Layout</h1>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
